<main>
    Hello, **{{name}}**!

    Here are your favorite items:
    {{#each items ~}}
        - {{this}}
    {{/each ~}}

    Thank you!
</main>
<button id="1" class="primary" onclick="{{method}}">Primary</button>
<button id="2" class="secondary" onclick="{{method}}">Secondary</button>
<button id="3" class="danger" onclick="{{method}}">Danger</button>